<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Code Coverage for /srv/pim/src/Akeneo/Pim/Enrichment/Component/Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../../../../_css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../../../../../_css/octicons.css" rel="stylesheet" type="text/css">
  <link href="../../../../../_css/style.css" rel="stylesheet" type="text/css">
  <link href="../../../../../_css/custom.css" rel="stylesheet" type="text/css">
 </head>
 <body>
  <header>
   <div class="container-fluid">
    <div class="row">
     <div class="col-md-12">
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="../../../../../index.html">/srv/pim/src</a></li>
         <li class="breadcrumb-item"><a href="../../../../index.html">Akeneo</a></li>
         <li class="breadcrumb-item"><a href="../../../index.html">Pim</a></li>
         <li class="breadcrumb-item"><a href="../../index.html">Enrichment</a></li>
         <li class="breadcrumb-item"><a href="../index.html">Component</a></li>
         <li class="breadcrumb-item active">Product</li>
         <li class="breadcrumb-item">(<a href="dashboard.html">Dashboard</a>)</li>

       </ol>
      </nav>
     </div>
    </div>
   </div>
  </header>
  <div class="container-fluid">
   <div class="table-responsive">
    <table class="table table-bordered">
     <thead>
      <tr>
       <td>&nbsp;</td>
       <td colspan="9"><div align="center"><strong>Code Coverage</strong></div></td>
      </tr>
      <tr>
       <td>&nbsp;</td>
       <td colspan="3"><div align="center"><strong>Lines</strong></div></td>
       <td colspan="3"><div align="center"><strong>Functions and Methods</strong></div></td>
       <td colspan="3"><div align="center"><strong>Classes and Traits</strong></div></td>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td class="warning">Total</td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="66.16" aria-valuemin="0" aria-valuemax="100" style="width: 66.16%">
           <span class="sr-only">66.16% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">66.16%</div></td>
       <td class="warning small"><div align="right">6430&nbsp;/&nbsp;9719</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="61.67" aria-valuemin="0" aria-valuemax="100" style="width: 61.67%">
           <span class="sr-only">61.67% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">61.67%</div></td>
       <td class="warning small"><div align="right">1062&nbsp;/&nbsp;1722</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="39.43" aria-valuemin="0" aria-valuemax="100" style="width: 39.43%">
           <span class="sr-only">39.43% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">39.43%</div></td>
       <td class="danger small"><div align="right">166&nbsp;/&nbsp;421</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Association/index.html">Association</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="67.74" aria-valuemin="0" aria-valuemax="100" style="width: 67.74%">
           <span class="sr-only">67.74% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">67.74%</div></td>
       <td class="warning small"><div align="right">21&nbsp;/&nbsp;31</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50.00" aria-valuemin="0" aria-valuemax="100" style="width: 50.00%">
           <span class="sr-only">50.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">50.00%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;6</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100" style="width: 33.33%">
           <span class="sr-only">33.33% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">33.33%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;3</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Builder/index.html">Builder</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="83.33" aria-valuemin="0" aria-valuemax="100" style="width: 83.33%">
           <span class="sr-only">83.33% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">83.33%</div></td>
       <td class="warning small"><div align="right">30&nbsp;/&nbsp;36</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="71.43" aria-valuemin="0" aria-valuemax="100" style="width: 71.43%">
           <span class="sr-only">71.43% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">71.43%</div></td>
       <td class="warning small"><div align="right">5&nbsp;/&nbsp;7</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;2</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Comparator/index.html">Comparator</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="84.02" aria-valuemin="0" aria-valuemax="100" style="width: 84.02%">
           <span class="sr-only">84.02% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">84.02%</div></td>
       <td class="warning small"><div align="right">205&nbsp;/&nbsp;244</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="74.55" aria-valuemin="0" aria-valuemax="100" style="width: 74.55%">
           <span class="sr-only">74.55% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">74.55%</div></td>
       <td class="warning small"><div align="right">41&nbsp;/&nbsp;55</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40.00" aria-valuemin="0" aria-valuemax="100" style="width: 40.00%">
           <span class="sr-only">40.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">40.00%</div></td>
       <td class="danger small"><div align="right">6&nbsp;/&nbsp;15</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Completeness/index.html">Completeness</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90.62" aria-valuemin="0" aria-valuemax="100" style="width: 90.62%">
           <span class="sr-only">90.62% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">90.62%</div></td>
       <td class="success small"><div align="right">145&nbsp;/&nbsp;160</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="81.48" aria-valuemin="0" aria-valuemax="100" style="width: 81.48%">
           <span class="sr-only">81.48% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">81.48%</div></td>
       <td class="warning small"><div align="right">22&nbsp;/&nbsp;27</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42.86" aria-valuemin="0" aria-valuemax="100" style="width: 42.86%">
           <span class="sr-only">42.86% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">42.86%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;7</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Connector/index.html">Connector</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="55.20" aria-valuemin="0" aria-valuemax="100" style="width: 55.20%">
           <span class="sr-only">55.20% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">55.20%</div></td>
       <td class="warning small"><div align="right">1429&nbsp;/&nbsp;2589</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="51.99" aria-valuemin="0" aria-valuemax="100" style="width: 51.99%">
           <span class="sr-only">51.99% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">51.99%</div></td>
       <td class="warning small"><div align="right">209&nbsp;/&nbsp;402</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="41.28" aria-valuemin="0" aria-valuemax="100" style="width: 41.28%">
           <span class="sr-only">41.28% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">41.28%</div></td>
       <td class="danger small"><div align="right">45&nbsp;/&nbsp;109</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Converter/index.html">Converter</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="82.43" aria-valuemin="0" aria-valuemax="100" style="width: 82.43%">
           <span class="sr-only">82.43% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">82.43%</div></td>
       <td class="warning small"><div align="right">61&nbsp;/&nbsp;74</div></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90.00" aria-valuemin="0" aria-valuemax="100" style="width: 90.00%">
           <span class="sr-only">90.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">90.00%</div></td>
       <td class="success small"><div align="right">9&nbsp;/&nbsp;10</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75.00" aria-valuemin="0" aria-valuemax="100" style="width: 75.00%">
           <span class="sr-only">75.00% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">75.00%</div></td>
       <td class="warning small"><div align="right">3&nbsp;/&nbsp;4</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="EntityWithFamily/index.html">EntityWithFamily</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="88.30" aria-valuemin="0" aria-valuemax="100" style="width: 88.30%">
           <span class="sr-only">88.30% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">88.30%</div></td>
       <td class="warning small"><div align="right">83&nbsp;/&nbsp;94</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70.37" aria-valuemin="0" aria-valuemax="100" style="width: 70.37%">
           <span class="sr-only">70.37% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">70.37%</div></td>
       <td class="warning small"><div align="right">19&nbsp;/&nbsp;27</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50.00" aria-valuemin="0" aria-valuemax="100" style="width: 50.00%">
           <span class="sr-only">50.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">50.00%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;6</div></td>
      </tr>

      <tr>
       <td class="danger"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="EntityWithFamilyVariant/index.html">EntityWithFamilyVariant</a></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="46.81" aria-valuemin="0" aria-valuemax="100" style="width: 46.81%">
           <span class="sr-only">46.81% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">46.81%</div></td>
       <td class="danger small"><div align="right">44&nbsp;/&nbsp;94</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="40.00" aria-valuemin="0" aria-valuemax="100" style="width: 40.00%">
           <span class="sr-only">40.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">40.00%</div></td>
       <td class="danger small"><div align="right">4&nbsp;/&nbsp;10</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="25.00" aria-valuemin="0" aria-valuemax="100" style="width: 25.00%">
           <span class="sr-only">25.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">25.00%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;4</div></td>
      </tr>

      <tr>
       <td class="danger"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Exception/index.html">Exception</a></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="9.22" aria-valuemin="0" aria-valuemax="100" style="width: 9.22%">
           <span class="sr-only">9.22% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">9.22%</div></td>
       <td class="danger small"><div align="right">27&nbsp;/&nbsp;293</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="22.50" aria-valuemin="0" aria-valuemax="100" style="width: 22.50%">
           <span class="sr-only">22.50% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">22.50%</div></td>
       <td class="danger small"><div align="right">9&nbsp;/&nbsp;40</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42.86" aria-valuemin="0" aria-valuemax="100" style="width: 42.86%">
           <span class="sr-only">42.86% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">42.86%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;7</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Factory/index.html">Factory</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="71.92" aria-valuemin="0" aria-valuemax="100" style="width: 71.92%">
           <span class="sr-only">71.92% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">71.92%</div></td>
       <td class="warning small"><div align="right">274&nbsp;/&nbsp;381</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60.47" aria-valuemin="0" aria-valuemax="100" style="width: 60.47%">
           <span class="sr-only">60.47% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">60.47%</div></td>
       <td class="warning small"><div align="right">26&nbsp;/&nbsp;43</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="12.50" aria-valuemin="0" aria-valuemax="100" style="width: 12.50%">
           <span class="sr-only">12.50% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">12.50%</div></td>
       <td class="danger small"><div align="right">2&nbsp;/&nbsp;16</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Grid/index.html">Grid</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="74.44" aria-valuemin="0" aria-valuemax="100" style="width: 74.44%">
           <span class="sr-only">74.44% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">74.44%</div></td>
       <td class="warning small"><div align="right">99&nbsp;/&nbsp;133</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="82.05" aria-valuemin="0" aria-valuemax="100" style="width: 82.05%">
           <span class="sr-only">82.05% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">82.05%</div></td>
       <td class="warning small"><div align="right">32&nbsp;/&nbsp;39</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="28.57" aria-valuemin="0" aria-valuemax="100" style="width: 28.57%">
           <span class="sr-only">28.57% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">28.57%</div></td>
       <td class="danger small"><div align="right">2&nbsp;/&nbsp;7</div></td>
      </tr>

      <tr>
       <td class="danger"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Job/index.html">Job</a></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="19.47" aria-valuemin="0" aria-valuemax="100" style="width: 19.47%">
           <span class="sr-only">19.47% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">19.47%</div></td>
       <td class="danger small"><div align="right">37&nbsp;/&nbsp;190</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="31.58" aria-valuemin="0" aria-valuemax="100" style="width: 31.58%">
           <span class="sr-only">31.58% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">31.58%</div></td>
       <td class="danger small"><div align="right">12&nbsp;/&nbsp;38</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42.86" aria-valuemin="0" aria-valuemax="100" style="width: 42.86%">
           <span class="sr-only">42.86% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">42.86%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;7</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Localization/index.html">Localization</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="92.74" aria-valuemin="0" aria-valuemax="100" style="width: 92.74%">
           <span class="sr-only">92.74% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">92.74%</div></td>
       <td class="success small"><div align="right">115&nbsp;/&nbsp;124</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75.00" aria-valuemin="0" aria-valuemax="100" style="width: 75.00%">
           <span class="sr-only">75.00% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">75.00%</div></td>
       <td class="warning small"><div align="right">21&nbsp;/&nbsp;28</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42.86" aria-valuemin="0" aria-valuemax="100" style="width: 42.86%">
           <span class="sr-only">42.86% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">42.86%</div></td>
       <td class="danger small"><div align="right">3&nbsp;/&nbsp;7</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Manager/index.html">Manager</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" style="width: 100.00%">
           <span class="sr-only">100.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">100.00%</div></td>
       <td class="success small"><div align="right">63&nbsp;/&nbsp;63</div></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" style="width: 100.00%">
           <span class="sr-only">100.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">100.00%</div></td>
       <td class="success small"><div align="right">10&nbsp;/&nbsp;10</div></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" style="width: 100.00%">
           <span class="sr-only">100.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">100.00%</div></td>
       <td class="success small"><div align="right">2&nbsp;/&nbsp;2</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Model/index.html">Model</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="73.95" aria-valuemin="0" aria-valuemax="100" style="width: 73.95%">
           <span class="sr-only">73.95% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">73.95%</div></td>
       <td class="warning small"><div align="right">457&nbsp;/&nbsp;618</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="66.53" aria-valuemin="0" aria-valuemax="100" style="width: 66.53%">
           <span class="sr-only">66.53% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">66.53%</div></td>
       <td class="warning small"><div align="right">167&nbsp;/&nbsp;251</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="8.33" aria-valuemin="0" aria-valuemax="100" style="width: 8.33%">
           <span class="sr-only">8.33% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">8.33%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;12</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Normalizer/index.html">Normalizer</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="88.63" aria-valuemin="0" aria-valuemax="100" style="width: 88.63%">
           <span class="sr-only">88.63% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">88.63%</div></td>
       <td class="warning small"><div align="right">1575&nbsp;/&nbsp;1777</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="78.20" aria-valuemin="0" aria-valuemax="100" style="width: 78.20%">
           <span class="sr-only">78.20% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">78.20%</div></td>
       <td class="warning small"><div align="right">226&nbsp;/&nbsp;289</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="54.55" aria-valuemin="0" aria-valuemax="100" style="width: 54.55%">
           <span class="sr-only">54.55% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">54.55%</div></td>
       <td class="warning small"><div align="right">42&nbsp;/&nbsp;77</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="ProductAndProductModel/index.html">ProductAndProductModel</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="96.00" aria-valuemin="0" aria-valuemax="100" style="width: 96.00%">
           <span class="sr-only">96.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">96.00%</div></td>
       <td class="success small"><div align="right">24&nbsp;/&nbsp;25</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="66.67" aria-valuemin="0" aria-valuemax="100" style="width: 66.67%">
           <span class="sr-only">66.67% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">66.67%</div></td>
       <td class="warning small"><div align="right">2&nbsp;/&nbsp;3</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;1</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="ProductModel/index.html">ProductModel</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="96.00" aria-valuemin="0" aria-valuemax="100" style="width: 96.00%">
           <span class="sr-only">96.00% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">96.00%</div></td>
       <td class="success small"><div align="right">120&nbsp;/&nbsp;125</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="76.92" aria-valuemin="0" aria-valuemax="100" style="width: 76.92%">
           <span class="sr-only">76.92% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">76.92%</div></td>
       <td class="warning small"><div align="right">10&nbsp;/&nbsp;13</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="25.00" aria-valuemin="0" aria-valuemax="100" style="width: 25.00%">
           <span class="sr-only">25.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">25.00%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;4</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Query/index.html">Query</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="83.23" aria-valuemin="0" aria-valuemax="100" style="width: 83.23%">
           <span class="sr-only">83.23% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">83.23%</div></td>
       <td class="warning small"><div align="right">129&nbsp;/&nbsp;155</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60.53" aria-valuemin="0" aria-valuemax="100" style="width: 60.53%">
           <span class="sr-only">60.53% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">60.53%</div></td>
       <td class="warning small"><div align="right">23&nbsp;/&nbsp;38</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="16.67" aria-valuemin="0" aria-valuemax="100" style="width: 16.67%">
           <span class="sr-only">16.67% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">16.67%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;6</div></td>
      </tr>

      <tr>
       <td class="danger"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="ReferenceData/index.html">ReferenceData</a></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;29</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;3</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;2</div></td>
      </tr>

      <tr>
       <td class=""><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Repository/index.html">Repository</a></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Updater/index.html">Updater</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="52.25" aria-valuemin="0" aria-valuemax="100" style="width: 52.25%">
           <span class="sr-only">52.25% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">52.25%</div></td>
       <td class="warning small"><div align="right">673&nbsp;/&nbsp;1288</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="44.44" aria-valuemin="0" aria-valuemax="100" style="width: 44.44%">
           <span class="sr-only">44.44% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">44.44%</div></td>
       <td class="danger small"><div align="right">76&nbsp;/&nbsp;171</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="11.90" aria-valuemin="0" aria-valuemax="100" style="width: 11.90%">
           <span class="sr-only">11.90% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">11.90%</div></td>
       <td class="danger small"><div align="right">5&nbsp;/&nbsp;42</div></td>
      </tr>

      <tr>
       <td class="warning"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Validator/index.html">Validator</a></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="71.95" aria-valuemin="0" aria-valuemax="100" style="width: 71.95%">
           <span class="sr-only">71.95% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">71.95%</div></td>
       <td class="warning small"><div align="right">695&nbsp;/&nbsp;966</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="64.38" aria-valuemin="0" aria-valuemax="100" style="width: 64.38%">
           <span class="sr-only">64.38% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">64.38%</div></td>
       <td class="warning small"><div align="right">103&nbsp;/&nbsp;160</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="55.07" aria-valuemin="0" aria-valuemax="100" style="width: 55.07%">
           <span class="sr-only">55.07% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">55.07%</div></td>
       <td class="warning small"><div align="right">38&nbsp;/&nbsp;69</div></td>
      </tr>

      <tr>
       <td class="danger"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="Value/index.html">Value</a></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="35.03" aria-valuemin="0" aria-valuemax="100" style="width: 35.03%">
           <span class="sr-only">35.03% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">35.03%</div></td>
       <td class="danger small"><div align="right">55&nbsp;/&nbsp;157</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60.47" aria-valuemin="0" aria-valuemax="100" style="width: 60.47%">
           <span class="sr-only">60.47% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">60.47%</div></td>
       <td class="warning small"><div align="right">26&nbsp;/&nbsp;43</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0.00" aria-valuemin="0" aria-valuemax="100" style="width: 0.00%">
           <span class="sr-only">0.00% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">0.00%</div></td>
       <td class="danger small"><div align="right">0&nbsp;/&nbsp;9</div></td>
      </tr>

      <tr>
       <td class="success"><img src="../../../../../_icons/file-directory.svg" class="octicon" /><a href="ValuesFiller/index.html">ValuesFiller</a></td>
       <td class="success big">       <div class="progress">
         <div class="progress-bar bg-success" role="progressbar" aria-valuenow="94.52" aria-valuemin="0" aria-valuemax="100" style="width: 94.52%">
           <span class="sr-only">94.52% covered (success)</span>
         </div>
       </div>
</td>
       <td class="success small"><div align="right">94.52%</div></td>
       <td class="success small"><div align="right">69&nbsp;/&nbsp;73</div></td>
       <td class="warning big">       <div class="progress">
         <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="77.78" aria-valuemin="0" aria-valuemax="100" style="width: 77.78%">
           <span class="sr-only">77.78% covered (warning)</span>
         </div>
       </div>
</td>
       <td class="warning small"><div align="right">77.78%</div></td>
       <td class="warning small"><div align="right">7&nbsp;/&nbsp;9</div></td>
       <td class="danger big">       <div class="progress">
         <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="33.33" aria-valuemin="0" aria-valuemax="100" style="width: 33.33%">
           <span class="sr-only">33.33% covered (danger)</span>
         </div>
       </div>
</td>
       <td class="danger small"><div align="right">33.33%</div></td>
       <td class="danger small"><div align="right">1&nbsp;/&nbsp;3</div></td>
      </tr>

      <tr>
       <td class=""><img src="../../../../../_icons/file-code.svg" class="octicon" /><a href="ProductEvents.php.html">ProductEvents.php</a></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
       <td class=" big"></td>
       <td class=" small"><div align="right">n/a</div></td>
       <td class=" small"><div align="right">0&nbsp;/&nbsp;0</div></td>
      </tr>


     </tbody>
    </table>
   </div>
   <footer>
    <hr/>
    <h4>Legend</h4>
    <p>
     <span class="danger"><strong>Low</strong>: 0% to 50%</span>
     <span class="warning"><strong>Medium</strong>: 50% to 90%</span>
     <span class="success"><strong>High</strong>: 90% to 100%</span>
    </p>
    <p>
     <small>Generated by <a href="https://github.com/sebastianbergmann/php-code-coverage" target="_top">php-code-coverage 7.0.3</a> using <a href="https://secure.php.net/" target="_top">PHP 7.2.16-1+0~20190307202415.17+stretch~1.gbpa7be82</a> with <a href="https://github.com/krakjoe/pcov">PCOV 1.0.1</a> at Thu Mar 28 23:39:15 UTC 2019.</small>
    </p>
   </footer>
  </div>
 </body>
</html>
